.continue{
  background: #ff6600;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  padding: 3px;
}
.train{
  background: #00a8ff;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  padding: 3px;
}
.el-table--mini td{
  vertical-align: top;
}
.el-table--mini td .cell {
  height: auto;
  overflow: unset;
  white-space: unset;
  text-overflow: unset;
}

.citySelectBox{
  .el-form-item__content{
    width: 300px;
    .citySelectClass{
      height: 28px !important;
      line-height: 28px !important;
      margin-top: 1px;
    }
  }
}

