html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#app {
  color: #2c3e50;
  height: 100%;
  width: 100%;
  min-width: 500px;
}

.x-page {
  //width: calc(100% - 150px);
}

.el-menu--vertical {
  .el-menu.el-menu--popup.el-menu--popup-right-start {
    .el-menu-item {
      height: 36px;
      line-height: 36px;
    }
  }
}

.el-container {
  height: 100%;
  .el-header {
    background-color: #3C7ED2;
    color: #333;
    line-height: 60px;
    padding: 0;
    display: flex;
    min-height: 60px;
  }
  .el-header-right {
    flex: 1;
    justify-content: flex-end;
    display: flex;
  }
  .el-aside {
    background-color: rgb(84, 92, 100);
    color: #333;
    min-width: 64px;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    .el-aside-footer {
      height: 40px;
      button {
        width: 100%;
        background: transparent;
        border: 0;
        color: #fff;
      }
    }
  }

  .el-main {
    background-color: #E9EEF3;
    color: #aaa;
  }

  .app-info {
    color: #fff;
    padding-left: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    i {
      font-size: 36px;
      margin-right: 10px;
    }
  }

  .el-menu-vertical-demo {
    border: none;
    background-color: rgb(84, 92, 100);
    flex: 1;
    &:not(.el-menu--collapse){
      width: 150px;
    }
    &.el-menu--collapse {
      min-width: 64px;
    }
  }

  .el-menu-item, .el-submenu__title {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
  }
  .el-submenu .el-menu-item {
    height: 36px;
    line-height: 36px;
    font-weight: normal;
    padding: 0;
    min-width: auto;
  }
  .el-submenu__icon-arrow {
    margin-top: -5px;
  }
}

.el-table {
  border: 1px #ddd solid;
}
.el-table th {
  background-color: #dddddd;
  color: #303133;
}

.detail-table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  border:1px solid #ebeef5;
  tr td,tr th{
    border:1px solid #ebeef5;
  }
  tr{
    height: 30px;
    td:nth-child(1), td:nth-child(3){
      width: 15%;
      text-align: right;
      padding: 0 5px;
      color:#888888;
    }
    td:nth-child(2), td:nth-child(4){
      width: 35%;
      max-width: 35%;
      text-align: left;
      padding: 0 10px;
      word-break: break-all;
    }
  }
}



.el-form-item--mini {
  .el-form-item__label{
    line-height:28px;
    font-size: 14px;
    color:#888888;
}
  .el-form-item__content{
    line-height:28px;
  }
}


.el-form-item--small {
  .el-form-item__label{
    font-size: 14px;
    color:#888888;
}
  .el-form-item__content{
  }
}

.el-table{
  font-size:12px;
  thead{
    color:#303133;
  }
  th{
    background-color: #ddd;
    padding:8px;
  }
  td{
    padding:8px;
  }
  .cell{
    padding-left:5px;
    line-height: 23px;
  }
}

.el-table--border td:first-child .cell{
  padding-left:5px;
}
.el-table .cell, .el-table th div{
  padding-left: 5px;
}
.el-table--mini td, .el-table--mini th{
  padding:5px 0px;
}

.el-card{
 border-bottom: 5px solid #ebeef5;
}
.el-card__body{
  padding:10px;
}

.el-card__header{
  font-size:14px;
  font-weight:bold;
  padding:10px 10px;
}
.el-dialog__body{
  font-size:12px;
  padding:10px 10px;
}

.upload-mini .el-upload-list--picture-card .el-upload-list__item{
  width:60px;
  height: 60px;
  margin:0 5px 0 0;
}
.upload-mini .el-upload--picture-card{
  width:60px;
  height: 60px;
  line-height: 60px;
}

.upload-mini .el-upload--picture-card i{
  font-size:20px;
  line-height: 60px;
}